nav{
    background: #2D2E2E;
    height: 100%;
}

ul{
    list-style-type: none;
    margin:0;
    padding:0;

    li{
        margin-bottom: 20px;
        margin-left: 20px;
        padding-top: 20px;
        a{
            font-size: 1.5em;
            text-decoration: none;
            font-weight: bold;
            color: #ffffff;
        }

        .activated{
            background: #00A8FF;
        }
    }

}