.header {
  height: 90px;
  background: linear-gradient(135deg, #00A8FF, #007acc);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 40px;
  color: white;
  align-items: center;
}

.brand {
  font-size: 1.4rem;
  font-weight: 600;
}

.subtitle {
  font-size: 0.9rem;
  opacity: 0.9;
}