/* You can add global styles to this file, and also import other style files */

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background: #f5f5f5;
    height: 100vh;
}

.content {
  margin-left: 30px;
}

.container {
    display: grid;
    height: 100%;
    grid-template-columns: 70px auto;
}

    #content {
        padding: 30px 50px;

        ul{
            list-style-type: none;
            margin:0;
            padding:0;

            li{
                background: #ffffff;
                border-radius: 8px; 
                margin-bottom: 8px;
                padding: 20px;

                a{
                    font-size: 1.5em;
                    text-decoration: none;
                    font-weight: bold;
                    color: #00A8FF;
                }

                ul{
                    margin-top: 10px;

                    li{
                        padding: 10px;

                        a{
                            font-size: 1.2em;
                            text-decoration: none;
                            color: #333333;
                        }
                }
            }
        }


    }
}
